[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=pyLedger
Comment=pyLedger
Exec=/home/user/apps/pyLedger/pyLedger.py
Icon=ledger
Terminal=true
Type=Application
Categories=tools
